.header{
    background-color: rgb(23, 157, 235);
    display: flex;
    justify-content: space-between;
    
}

.icon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    
}

h1{
    color: white;
    margin: 1em;
}