:root{
    background-color: rgb(214, 242, 233);
}
img {
    margin: 1em;
    
}

img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out; /* Suaviza la transformación */
}

.content{
    display: flex;
    margin-top: 3em;
}

.item{
    flex: 1
}


.time{
    font-weight: bold;
}